<header>
    <h1>Parlons-en !</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Parlons-en !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="acceuil">Acceuil<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><img src="./assets/profil/account_circle-24px.svg" alt="">{{pseudo}}</a>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="btn btn-primary btn-block">Connexion</button>
                        <button type="button" class="btn btn-danger btn-block">Déconnexion</button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>