<div class="container">
    <div class="card m-3">
        <h5 class="card-header">Création d'une conférence</h5>
        <div class="card-body">
            <form [formGroup]="creationConfForm">
                <div class="form-group row">
                    <label for="titre" class="col-sm-2 col-form-label">Titre :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="titre" placeholder="Titre de la conférence" formControlName="titre" [ngClass]="{ 'is-invalid': isValider && verifierChamp.titre.errors }">
                        <div class="text-danger" *ngIf="isValider && verifierChamp.titre.errors">
                            Titre est requis.
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description :</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Description de la conférence (optionnel)" formControlName="description"></textarea>
                    </div>
                </div>
                <script async src="https://imgbb.com/upload.js"></script>
                <div class="form-group">
                    <label for="imgConference">Image de la conférence :</label>
                    <input type="file" class="form-control-file" id="imgConference" formControlName="urlImg" (change)="afficherImgConf($event.target.files)" [ngClass]="{ 'is-invalid': isValider && verifierChamp.urlImg.errors }">
                    <div class="text-danger" *ngIf="isValider && verifierChamp.urlImg.errors">
                        Image est requis.
                        <p><small>Conseil : Une image permettra de rendre plus pertinente votre conférence !</small></p>
                    </div>
                    <img [src]="{{urlImg}}" height="200">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="debutConference" formControlName="debutConference" id="maintenant" value="maintenant" (change)="afficherPrgConf($event.target.value)" [ngClass]="{ 'is-invalid': isValider && verifierChamp.debutConference.errors }">
                    <label class="form-check-label" for="maintenant">
                      Démarrer maintenant
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="debutConference" formControlName="debutConference" id="plusTard" value="plusTard" (change)="afficherPrgConf($event.target.value)" [ngClass]="{ 'is-invalid': isValider && verifierChamp.debutConference.errors }">
                    <label class="form-check-label" for="plusTard">
                      Programmer une conférence
                    </label>
                </div>
                <div class="text-danger" *ngIf="isValider && verifierChamp.debutConference.errors">
                    Vous devez faire un choix.
                </div>
                <div class="form-group" *ngIf="isAfficherPgrConf">
                    <label for="dateConference" class="col-md-auto">Date de la conférence : </label>
                    <input type="date" id="dateConference" class="col-md-auto" formControlName="dateConference" [ngClass]="{ 'is-invalid': isValider && verifierChamp.dateConference.errors }">
                    <label for="heureConference" class="col-md-auto"> Heure du début de la conférence : </label>
                    <input type="time" id="heureConference" class="col-md-auto" formControlName="heureConference" [ngClass]="{ 'is-invalid': isValider && verifierChamp.heureConference.errors }">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" (click)="validerConf()">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>